<?xml version="1.0" encoding="windows-1255"?>
<configuration>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <add key="Form1.CausesValidation" value="True" />
  </appSettings>
</configuration>